upstream apache_servers {
  {% for host in groups['web'] %}
  server {{ host }}:80;
  {% endfor %}
}

server {
    listen 8080;

    server_name {{ ansible_fqdn }};

    location / {
        proxy_pass http://apache_servers;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}

