[Desktop Entry]
Type=Application
Name="Flame 2024.2.2 Broadcast"
Exec=/bin/bash -c "/usr/local/flame_launcher/flame-launcher.sh -v 2024.2.2 -r false"
Path=/usr/local/flame_launcher
Icon=flame_2024.2.2_broadcast
Terminal=true
StartupNotify=true
Categories=Utility
